/target/
/.idea/
/src/main/groovy/
/src/main/java/com/solvd/carina/demo/db/
/src/main/java/com/solvd/carina/demo/gui/
/src/main/java/com/solvd/carina/demo/mobile/gui/pages/
/src/main/java/com/solvd/carina/demo/soap/
/src/main/java/com/solvd/carina/demo/utils/
/src/main/java/com/solvd/carina/demo/websocket/
/src/test/java/com/solvd/carina/demo/
/src/test/resources/api/soap/
/src/test/resources/api/users/
/src/test/resources/data_source/
/src/test/resources/features/
/src/test/resources/testng_suites/
/src/main/resources/browserstack/
/src/main/resources/L10N/
/src/main/resources/mappers/
/src/main/resources/_database.properties
/src/main/resources/_email.properties
/src/main/resources/agent.properties
/src/main/resources/mybatis-config.xml
/reports/
/src/main/java/com/solvd/carina/demo/api/
